.cabecalho {
    background-color: var(--branco);
    color: var(--vermelho);
    font-family: var(--font-titulo);

    position: fixed;
    left: 0;
    top: 42px;
    width: 100%;

    width: 100%;
}

.cabecalho-fixo {
    position: fixed;
}

.cabecalho__div {
    display: flex;
    justify-content: space-between;

    padding-top: 15px;
    padding-bottom: 15px;
}

.cabecalho__titulo {
    font-size: 24px;
    font-weight: 400;
    text-transform: uppercase;

    margin-left: 20px;
}

.cabecalho__menu {
    font-family: 'icones';
    font-size: 24px;
    font-weight: 600;

    margin-right: 40px;
    margin-top: 2px;
}

.cabecalho__menu i::before {
    content: "\e916";
}

.botao__home {
    position: fixed;
    bottom: 40px;
    right: 30px;

    font-size: 25px;
    background-color: var(--vermelho);
    border-radius: 80px;

    padding: 8px 8px;

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.20);
}

.botao__home i::before {
    content: "\e90b";

    color: var(--branco);
}