.cabecalho__top {
    background-color: var(--preto);
}

.cabecalho__top-nav {
    display: flex;
    justify-content: flex-end;

    padding-top: 9px;
    padding-bottom: 9px;
    margin-right: 48px;
}

.cabecalho__top-link {
    font-size: 24px;

    cursor: pointer;
}

.cabecalho__top-link-git i::before {
    content: "\e911";
    color: var(--branco);

    padding-right: 24px
}

.cabecalho__top-link-in i::before {
    content: "\e914";
    color: var(--branco);
}