.contato {
    box-sizing: border-box;

    background: linear-gradient( var(--branco), #FDFFFC);
    background-size: 350vh;

    padding: 32px 16px;
}

.contato__conteudo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    text-align: center;

    margin-top: 15px;

    font-family: var(--font-corpo), 'icones';
}

.contato__titulo {
    text-transform: uppercase;
    color: var(--preto);
    font-size: 32px;

    font-weight: 700;
}

.contato__titulo i::before {
    content: "\e90d";

    margin-right: 10px;
}

.contato__resumo {
    font-weight: 400;
    margin-top: 50px;
    margin-bottom: 17px;
    font-size: 22px;
}

.contato__comunicacao {
    font-size: 19px;

    font-weight: 600;

    margin-bottom: 50px;
}

.contato__comunicacao-mail {
    color: blue;
    text-decoration: underline;
}

.contato__fdst {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contato__mensagem {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato__newsletter {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.contato__legenda-btn {
    font-weight: 700;
    margin-bottom: 15px;
    font-size: 18px;
}

.contato__btn {
    margin-bottom: 45px;
    font-weight: 700;
    color: var(--branco);

    padding: 16px 32px;
    cursor: pointer;

    border-radius: 5px;
    background-color: var(--vermelho);
}

.contato__btn-nwt {
    background-color: var(--azul);
}

@media screen and (min-width: 768px) {
    .contato__titulo {
        margin-top: 30px;
    }

    .contato__resumo {
        max-width: 300px;
    }

    .contato__legenda-btn {
        max-width: 325px;
    }

    .contato__fdst {
        display: flex;
        flex-direction: row;

        margin-top: 30px;
    }

    .contato__mensagem {
        margin-right: 50px;
    }
    
}