.jogos { 
    background-image: url(../img/jgs/loja-digital.jpg);
    background-repeat: no-repeat;

    background-size: 290vh;

    font-family: var(--font-corpo);
}

.jogos__destaque {
    background: linear-gradient( 155deg, #ff4747 -30%, #0d1042d9 30%, #0d1042 100%);

    background-size: 350vh;

    font-family: var(--font-corpo), 'icones';

    padding: 32px 16px;

    padding-left: 15%;
    padding-right: 15%;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogos__titulo {
    margin-top: 5px;
    margin-bottom: 30px;

    font-size: 32px;
    color: var(--branco);
    font-weight: 800;
    text-align: center;
    text-transform: uppercase;
}

.jogos__titulo i::after {
    content: "\e908";

    margin-right: 10px;
}

.jogos__cartao {
    margin-bottom: 16px;
    margin-top: 32px;

    border-radius: 5px;
    overflow: hidden;
    background-color: var(--branco);

    box-sizing: border-box;

    color: var(--preto);

    box-shadow: 0 0 10px 5px rgba(0, 0, 0, 0.50);
}

.jogos__img {
    width: 100%;

    overflow: hidden;
}

.jogos__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.jogos__titulo-destaque {
    font-size: 24px;
    color: var(--azul);
    font-weight: 700;
    text-transform: uppercase;

    margin-top: 15px;
    margin-bottom: 10px;
}

.jogos__titulo-destaque-valorant {
    color: var(--vermelho);
}

.jogos__resumo {
    max-width: 310px;
    text-align: center;

    font-weight: 600;
    color: var(--preto);

    margin-bottom: 20px;
}

.jogos__botao {
    margin-bottom: 27px;
    color: var(--branco);
    font-weight: 700;

    padding: 16px 32px;

    display: flex;
    
    text-align: center;

    background-color: var(--azul);
    border-radius: 5px;
}

.jogos__botao-valorant {
    background-color: var(--vermelho);
}

@media screen and (min-width: 768px) {
    .jogos {
        background-size: 350vh;
    }

    .jogos__cartao {
        width: 55vw;
    }
}

@media screen and (min-width: 1024px) {
    .jogos__titulo {
        margin-top: 40px;
        margin-bottom: 50px;
    }

    .jogos__div {
        display: flex;
        flex-direction: row;
        margin-bottom: 90px;
    }

    .jogos__cartao {
        width: 27vw;
        margin: auto 25px;
    }

    .jogos__resumo {
        max-width: 260px;
    }
}

@media screen and (min-width: 1440px) {
    .jogos__resumo {
        max-width: 280px;
    }
    
    .jogos__cartao {
        width: 20vw;
        margin: auto 40px;
    }
}