.loja {
    box-sizing: border-box;
}

.loja__destaque {
    background: linear-gradient( var(--branco), #FDFFFC);
    background-size: 350vh;

    font-family: var(--font-corpo), 'icones';

    padding: 32px 16px;

    display: flex;
    flex-direction: column;
    align-items: center;
}

.loja__titulo {
    display: flex;
    justify-content: center;

    color: var(--preto);
    font-size: 32px;
    font-weight: 700;
    text-transform: uppercase;

    margin-bottom: 50px;
}

.loja__titulo i::before {
    content: "\e90f";

    margin-right: 10px;
}

.loja__conteudo {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 32px 16px;

    border: 2.4px solid var(--preto);
    border-radius: 5px;

    text-align: center;

    box-sizing: border-box;

    margin-bottom: 40px;
}

.loja__logo {
    margin-bottom: 30px
}

.loja__logo::before {
    content: "\e918";

    font-weight: 400;
    font-family: 'icones';
    font-size: 135px;
    color: var(--preto);
}

.loja__logo-ps5::before {
    content: "\e917";

    color: var(--azul);
}

.loja__logo-xbox::before {
    content: "\e919";

    color: green;
}

.loja__logo-steam::before {
    content: "\e918";
}

.loja__titulo-dstq {
    color: var(--preto);
    font-size: 24px;
    text-transform: uppercase;
    font-weight: 700;

    margin-bottom: 15px;
}

.loja__titulo-dstq-ps5 {
    color: var(--azul);
}

.loja__titulo-dstq-xbox {
    color: green;
}

.loja__sub-titulo {
    color: var(--preto);
    font-weight: 600;

    margin-bottom: 30px;
}

.loja__resumo {
    color: var(--preto);
    font-weight: 600;

    margin-bottom: 35px;
}

.loja__botao {
    background-color: var(--preto);
    color: var(--branco);
    font-weight: 800;

    padding: 16px 48px;

    border-radius: 3px;

    display: flex;
}

.loja__botao-ps5 {
    color: var(--branco);
    background-color: var(--azul);
}

.loja__botao-xbox {
    color: var(--branco);
    background-color: green;
}

@media screen and (min-width: 768px) {
    .loja__conteudo {
        width: 60vw;
    }
}

@media screen and (min-width: 1024px) {
    .loja__titulo {
        margin-top: 30px;
    }

    .loja__div {
        display: flex;
        flex-direction: row;
        margin-bottom: 90px;
    }

    .loja__conteudo {
        width: 30vw;

        margin: auto 15px;
    }
}

@media screen and (min-width: 1440px) {
    .loja__conteudo {
        width: 20vw;

        margin: auto 50px;
    }
}