.menu-lateral {
    display: flex;
    flex-direction: column;

    display: none;

    width: 60vw;
    height: 90vh;

    background-color: var(--branco);

    position: absolute;
    right: -100vw;

    font-family: var(--font-corpo);
    color: var(--vermelho);
    font-weight: 600;

    transition: .25s;

    z-index: 1900;
}

.menu-lateral--ativo {
    /* cabecalho fixo
    position: fixed;
    top: 98px;
    */

    right: 0vw;
    transition: .25s;

    display: flex;
}

.menu-lateral__link {
    height: 64px;
    display: flex;
    align-items: center;
    padding-left: 64px;

    border-bottom: solid 1px var(--borda);
}

.menu-lateral__link-home {
    margin-top: 30px;
}

.menu-lateral__link::before {
    content: "\e916";
    width: 24px;
    height: 24px;
    font-size: 24px;
    position: absolute;
    left: 24px;

    font-weight: 400;
    font-family: 'icones';
}

.menu-lateral__link-home::before {
    content: "\e90b";
}

.menu-lateral__link-jogos::before {
    content: "\e908";
}

.menu-lateral__link-loja::before {
    content: "\e90f";
}

.menu-lateral__link-contatos::before {
    content: "\e90d";
}

@media screen and (min-width: 768px) {
    .menu-lateral {
        width: 25vw;
    }

    .menu-lateral__link::before {
        padding-left: 40px;
    }
}
